{% extends 'layout.jinja' %}
{% load static %}
{% load crispy_forms_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="card">
    <div class="container w-75"><br><br>
        <div class="card-header">
            <a href="/profile/"><i class="bi bi-arrow-return-left"></i> Return to profile</a>
        </div>
        <div class="card-body">
            <h1>Edit Profile</h1>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}