{% extends 'layout.jinja' %}
{% load static %}
{% load crispy_forms_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
<style>
    .notifications {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
</style>
{% endblock %}

{% block title %}Notifications{% endblock %}

{% block content %}
<div class="notifications">
    <div class="card col-10">
        <div class="container w-100"><br><br>
            <div class="card-header">
                <a href="/"><i class="bi bi-arrow-return-left"></i> Return to explore</a>
            </div>
            <div class="card-body">
                <h2>Notifications</h2>
                {% if friend_requests %}
                {% for frequest in friend_requests %}
                <div class="list-group-item text-left" style="background:none !important;">
                        {% if frequest.from_user.avatar %}
                        <img width="25" height="25" src="{{frequest.from_user.avatar.url}}" style="border-radius: 10px;">
                        {% else %}
                        <img width="25" height="25" src="{% static 'images/blank.avif' %}" style="border-radius: 10px;">
                        {% endif %}
                        <label class="name">&nbsp;
                            <a class="text-light" href="/@{{frequest.from_user.username}}/">{{frequest.from_user.username}}</a>
                            &nbsp;<br>
                            &nbsp;&nbsp;
                            <a class="btn btn-success  btn-xs" href="/profile/accept/{{frequest.from_user.username}}/"><i class="bi bi-plus"></i></a>
                            <a class="btn btn-danger  btn-xs" href="/profile/reject/{{frequest.from_user.username}}/"><i class="bi bi-trash"></i></a>
                        </label>
                        <br>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            No notification found.
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock%}