{% extends 'layout.jinja' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock styles %}

{% block content %}
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-center border-end">
                            {% if user.avatar %}
                            <img src="{{user.avatar.url}}" class="img-fluid avatar-xxl rounded-circle" alt="">
                            {% else %}
                            <img src="{% static 'images/blank.avif' %}" class="img-fluid avatar-xxl rounded-circle"
                                alt="">
                            {% endif %}
                            <h4 class="text-primary font-size-20 mt-3 mb-2">{{user.username}}</h4>
                            <span class="text-muted font-size-13 mb-0">Last seen: {{user.last_login}}</span>
                        </div>
                    </div><!-- end col -->
                    <div class="col-md-9">
                        <div class="ms-3">
                            <div>
                                <h4 class="card-title mb-2">Biography</h4>
                                <p class="mb-0 text-muted">
                                    {% if user.bio %}
                                    {{user.bio}}
                                    {% else %}
                                    No bio found
                                    {% endif %}
                                </p><br>
                                <p>
                                    <a href="settings/" class="btn btn-primary btn-sm">Edit Profile</a>
                                    <a href="write/" class="btn btn-link text-dark btn-sm">Write Post</a>
                                </p>
                            </div>
                            <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4 active" data-bs-toggle="tab" href="#tasks-tab" role="tab"
                                        aria-selected="false" tabindex="-1">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                        <span class="d-none d-sm-block">Posts</span>
                                    </a>
                                </li><!-- end li -->
                            </ul><!-- end ul -->
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end card body -->
        </div><!-- end card -->

        <div class="card">
            <div class="tab-content p-4">


                <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                    <h4 class="card-title mb-4">Posts</h4>
                    
                    {% for post in posts %}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        {% if user.avatar %}
                                        <img class="rounded-circle" width="45" src="{{user.avatar.url}}" alt="">
                                        {% else %}
                                        <img class="rounded-circle" width="45" src="{% static 'images/blank.avif' %}"
                                            alt="">
                                        {% endif %}
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@{{user.username}}</div>
                                        <div class="h7 text-muted">{{post.writed_at}}</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                            <div class="h6 dropdown-header">Configuration</div>
                                            <a class="dropdown-item" href="edit/{{post.slug}}/">Edit</a>
                                            <a class="dropdown-item" href="delete/{{post.slug}}/">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <a class="card-link" href="/@{{post.author.username}}/{{post.slug}}/">
                                <h5 class="card-title">{{post.title}}</h5>
                            </a>

                            <p class="card-text">
                                {{post.content|safe}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="pb-2">
                    <h4 class="card-title mb-3">Scenerios</h4>
                    <p>
                        Coming soon...
                    </p>
                </div>
                <hr>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Comments</h4>
                    <p>
                        {% if comments %}
                        {% for comment in comments %}
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle text-dark" type="button" id="gedf-drop1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>{{comment.comment}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="delete-comment/{{comment.id}}/">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    No comments found.
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}