[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
pillow = "*"
django-autoslug = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.12"
