{% extends "layout.jinja" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/group.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <img src="{% static 'images/logo.png' %}" width="100" height="100" style="border-radius: 20%;">
    <br><br><h1>Retto</h1>
    <a class="btn btn-primary" href="/signup/">Create a new account</a><br>
    <a class="btn btn-secondary" href="/login/">Sign In</a>
</div>

{% include 'components/_footer.jinja' %}
{% endblock %}