{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<script>document.location.href = '/'</script>
{% else %}
<div class="container col-9 signup">
    <div class="card col-md-4">
        <h3><strong>Sign In</strong></h3>
        <span class="text-secondary">Continue from where you left off on the adventure.</span>
        <br>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}

            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-secondary" href="/">Back</a>
        </form>
    </div>
</div>
{% endif %}
{% endblock%}