{% extends 'layout.jinja' %}
{% load static %}
{% block title %}Network{% endblock %}

{% block content %}
<div class="container network w-full gedf-wrapper"><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% if request.user.avatar %}
                        <img src="{{request.user.avatar.url}}" class="w-25" style="border-radius: 100%;">
                        {% else %}
                        <img src="{% static 'images/blank.avif' %}" class="w-25" style="border-radius: 100%;">
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/" class="text-light"><i class="bi bi-house"></i> Home</a></strong>
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/profile/notifications/" class="text-light"><i class="bi bi-bell"></i> Notifications {% if friend_requests %}<span class="badge badge-warning">{{friend_requests|length}}</span>{% endif %}</a></strong>
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/profile/" class="text-light"><i class="bi bi-person-circle"></i> Profile</a></strong>
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/profile/settings/" class="text-light"><i class="bi bi-gear"></i> Settings</a></strong>
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/logout/" class="text-light"><i class="bi bi-arrow-return-left"></i> Logout</a></strong>
                    </li>
                    <li class="list-group-item">
                        <strong class="h6"><a href="/profile/write/" class="text-light btn btn-primary"><i class="bi bi-pencil-square"></i> New Post</a></strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            <div class="explore-header"><strong># Explore</strong></div>
            {% for post in posts %}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                {% if post.author.avatar %}
                                <img class="rounded-circle" width="45" src="{{post.author.avatar.url}}" alt="">
                                {% else %}
                                <img class="rounded-circle" width="45" src="{% static 'images/blank.avif' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><a href="/@{{post.author.username}}/" class="text-light">{{post.author.username}}</a></div>
                                <div class="h7 text-muted">{{post.edited_at}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a class="card-link" href="/@{{post.author.username}}/{{post.slug}}/">
                        <h5 class="card-title text-light">{{post.title}}</h5>
                    </a>

                    <p class="card-text">
                        {{post.media}}
                        {{post.content|safe}}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/@{{post.author.username}}/{{post.slug}}/#comments" class="card-link text-secondary"><i class="bi bi-chat-dots-fill"></i></a>
                    <a href="/@{{post.author.username}}/{{post.slug}}/#share" class="card-link text-secondary"><i class="bi bi-share-fill"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'index' %}" class="d-flex">
                        <input name="search" type="search" class="form-control main-search" placeholder="Search">
                    </form>
                    <small class="text-secondary">Welcome to Retto Social. This is beta application that's still in development.</small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Session</div>
                        <div>{{request.user.username}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Rank</div>
                        <div>
                            {% if request.user.username == "ekin" %}
                            <span class="badge badge-danger">Owner</span>
                            {% else %}
                            <span class="badge badge-primary">User</span>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}