{% extends 'layout.jinja' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{post.title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock %}

{% block content %}
<div class="bg-main container">
    <div class=""><br>
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            {% if post.author.avatar %}
                            <img class="rounded-circle" width="45" src="{{post.author.avatar.url}}" alt="">
                            {% else %}
                            <img class="rounded-circle" width="45" src="{% static 'images/blank.avif' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0"><a href="/@{{post.author.username}}/"
                                    class="text-light">{{post.author.username}}</a></div>
                            <div class="h7 text-muted">{{post.edited_at}}</div>
                            <a href="/">Return to explore &nbsp;<i class="bi bi-arrow-return-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a class="card-link" href="/@{{post.author.username}}/{{post.slug}}/">
                    <h5 class="card-title text-light">{{post.title}}</h5>
                </a>

                <p class="card-text">
                    {{post.media}}
                    {{post.content|safe}}
                </p>
            </div>
            <div class="card-footer">
                <div class="input-group mb-3 w-50" id="share">
                    <input type="text" class="form-control" id="shareInput" readonly value="https://rettomedia.com/@{{post.author.username}}/{{post.slug}}/">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="shareButton" type="button"><i class="bi bi-share-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="comments" class="container"><br>
        <h3>Comments</h3>
        <section class="content-item">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="pull-left">New Comment</h3>
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {{form.media}}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-primary btn-sm pull-right">Submit</button>
                        </form>

                        <h3>{{comments.count}} Comments</h3>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="media">
                            <a class="pull-left">
                                {% if comment.author.avatar %}
                                <img class="media-object" src="{{comment.author.avatar.url}}" alt=""></a>
                            {% else %}
                            <img class="media-object" src="{% static 'images/blank.avif' %}" alt=""></a>
                            {% endif %}
                            <div class="media-body">
                                <h4 class="media-heading">{{comment.author.username}}</h4>
                                <p>
                                    {{comment.comment}}
                                </p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li>{{comment.writed_at}}</li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        No comments found.<br><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock%}