{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="bg-main">
        <div class="container w-75"><br><br>
            <h1>Signup</h1>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}

                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
        </div>
    </div>
{% endblock%}