{% extends 'layout.jinja' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock styles %}

{% block content %}
<div class="container"><br>
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <a href="/" class="text-secondary"><i class="bi bi-arrow-return-left"></i> Back to explore</a>
                </div>
                <div class="card-body pb-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                {% if user.avatar %}
                                <img src="{{user.avatar.url}}" class="img-fluid avatar-xxl rounded-circle" alt="">
                                {% else %}
                                <img src="{% static 'images/blank.avif' %}" class="img-fluid avatar-xxl rounded-circle"
                                    alt="">
                                {% endif %}
                                <h4 class="text-primary font-size-20 mt-3 mb-2 text-light">{{user.username}}</h4>
                                <span class="text-muted font-size-13 mb-0">Last seen: {{user.last_login}}</span>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div align="center">
                                    <h4 class="card-title mb-2">Biography</h4>
                                    <p class="mb-0 text-muted">
                                        {% if user.bio %}
                                        {{user.bio}}
                                        {% else %}
                                        No bio found
                                        {% endif %}
                                    </p>
                                    <div><br>
                                    {% if request.user.is_authenticated %}
                                        {% if friend_request_sent %}
                                            <a class="btn btn-primary btn-sm text-light">Request Pending</a>
                                        {% elif is_friend %}
                                            <a class="btn btn-primary btn-sm text-light">Message</a>
                                        {% else %}
                                            <a class="btn btn-primary btn-sm text-light" href="/profile/add-friend/{{user.username}}/">Add Friend</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-primary btn-sm text-light" href="/profile/add-friend/{{user.username}}/">Add Friend</a>
                                    {% endif %}
                                </div>
                                </div><br>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end card body -->
            </div><!-- end card -->

            <div class="card">
                <div class="tab-content p-4">


                    <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                        <h4 class="card-title mb-4">Posts</h4>

                        {% for post in posts %}
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            {% if user.avatar %}
                                            <img class="rounded-circle" width="45" src="{{user.avatar.url}}" alt="">
                                            {% else %}
                                            <img class="rounded-circle" width="45"
                                                src="{% static 'images/blank.avif' %}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0">{{user.username}}</div>
                                            <div class="h7 text-muted">{{post.writed_at}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <a class="card-link" href="{{post.slug}}/">
                                    <h5 class="card-title text-light">{{post.title}}</h5>
                                </a>

                                <p class="card-text">
                                    {{post.content|safe}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="pb-2">
                        <h4 class="card-title mb-3">Scenerios</h4>
                        <p>
                            Coming soon...
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}