{% extends 'base.jinja' %}
{% load static %}
{% block title %}Scripts{% endblock %}

{% block content %}
<div class="preloader"></div>

<div class="main-wrapper">
    {% include '../components/_nav.jinja' %}
    {% include '../components/_left.jinja' %}

    <div class="main-content right-chat-active">

        <div class="middle-sidebar-bottom">
            <div class="middle-sidebar-left pe-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 col-md-12 mb-2 mt-2 pe-2">
                                <div class="card p-0 bg-white rounded-3 shadow-xs border-0">
                                    <div class="card-body p-3 border-top-lg border-size-lg border-primary p-0">
                                        <h4><span
                                                class="font-xsss fw-700 text-grey-900 mt-2 d-inline-block text-dark">Latest Scripts</span><a href="/scripts/create" class="float-right btn-round-sm bg-greylight"><i
                                                    class="feather-plus font-xss text-grey-900"></i></a></h4>
                                    </div>
                                    
                                    {% for script in scripts %}
                                    <div class="card-body p-3 bg-lightblue theme-dark-bg mt-0 mb-3 ms-3 me-3 rounded-3">
                                        <h4 class="font-xsss fw-700 text-grey-900 mb-2 mt-1 d-block"><a class="text-dark" href="/scripts/{{script.author.username}}/{{script.slug}}/">{{script.title}}</a></h4>
                                        <small class="text-muted font-xsssss">Writed at {{script.writed_at}}</small>
                                        <p class="font-xssss lh-24 fw-500 text-grey-500 mt-3 d-block mb-3">
                                            {{script.subject}}
                                        </p>
                                        <div>
                                        <span class="font-xssss text-dark">                                                
                                            Writed by <strong>{{script.author.username}}</strong>
                                            {% if script.author.is_superuser %}
                                            <img src="{% static 'images/main-logo.png' %}" style="width: 16px !important; height: 16px !important">
                                            {% endif %}
                                            {% if script.author.is_staff %}
                                            <img src="{% static 'images/admincheck.png' %}" style="width: 16px !important; height: 16px !important">
                                            {% endif %}
                                        </span>&nbsp;&nbsp;
                                        {% if script.is_active %}
                                        <span
                                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success me-1">OPEN</span>
                                        {% else %}
                                        <span
                                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-info d-inline-block text-info">CLOSED</span>
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {% include '../components/_right-chat.jinja' %}
    {% include '../components/_footer.jinja' %}
</div>
{% include '../components/_chat-popup.jinja' %}
{% endblock %}