{% extends 'base.jinja' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{script.title}} - {{script.author.username}}{% endblock %}

{% block content %}
<div class="preloader"></div>

<div class="main-wrapper">
    {% include '../components/_nav.jinja' %}
    {% include '../components/_left.jinja' %}

    <div class="main-content right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0 ps-lg-3 ms-0 me-0" style="max-width: 100%;">
                    <div class="row">
                                

                        <div class="col-lg-12">
                            <div class="chat-wrapper p-0 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                                <div class="chat-wrapper pt-0 w-100 position-relative scroll-bar">
                                
                                <div class="chat-body p-lg-4 p-3 mt-lg-3 mt-0">
                                    <div class="card dark-bg-transparent border-0 w-100 p-0 mb-3 shadow-none">
                                        <div class="card-body p-0">
                                            <h6 class="fw-600 text-grey-500 font-xsssss">Click here to </h6>
                                            <a href="/scripts/" class="font-xss text-grey-900 fw-600"><i class="bi bi-arrow-return-left"></i> Back to Scripts</a>
                                        </div>
                                    </div>
                                    <div class="card dark-bg-transparent border-0 w-100 p-0 mb-3 shadow-none">
                                        <div class="card-body p-0">
                                            <a class="font-sm text-grey-900 fw-600">{{ script.title }}</a>
                                        </div>
                                    </div>
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default p-0 bg-transparent rounded-0">
                                            <div class="panel-heading pt-1 pb-2" role="tab" id="headingThree">
                                                <a class="panel-title fw-400 mb-0 accordion-toggle icon-none d-flex justify-content-between pe-0" role="button" aria-expanded="true" aria-controls="collapseThree">
                                                    <figure class="avatar me-2 mb-0 w35 mt-1 pt-1"><img src="{% if script.author.avatar %}{{script.author.avatar.url}}{% else %}{% static 'images/blank-profile.jpg' %}{%endif%}" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                                                    <span class="font-xssss text-grey-700 pt-2 mt-1 ps-2 fw-700 mb-0 me-auto text-dark">{{script.author.username}} 
                                                    {% if script.author.is_superuser %}
                                                    <img src="{% static 'images/main-logo.png' %}" style="width: 16px !important; height: 16px !important">
                                                    {% endif %}
                                                    {% if script.author.is_staff %}
                                                    <img src="{% static 'images/admincheck.png' %}" style="width: 16px !important; height: 16px !important">
                                                    {% endif %}
                                                    </span>
                                                    <span class="font-xssss text-grey-500 pt-2 mt-1 ps-2 fw-600 mb-0 ms-auto">{{script.writed_at}}</span>

                                                </a>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingThree">
                                                <p class="text-grey-600 mb-4 font-xsss lh-28 fw-500 mt-3">
                                                {{script.subject|linebreaksbr}}
                                                </p>
                                                <p class="mb-5"></p>
                                            </div>
                                        </div>
                                        <br>
                                        {% for comment in script_comments %}
                                        <div class="card" style="border-radius: 20px;">
                                            <div class="card-body">
                                                <a class="card-title panel-title fw-400 mb-0 accordion-toggle icon-none d-flex justify-content-between pe-0" role="button" aria-expanded="true" aria-controls="collapseThree">
                                                    <figure class="avatar me-2 mb-0 w35 mt-1 pt-1"><img src="{% if comment.author.avatar %}{{comment.author.avatar.url}}{% else %}{% static 'images/blank-profile.jpg' %}{%endif%}" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                                                    <span class="font-xssss text-grey-700 pt-2 mt-1 ps-2 fw-700 mb-0 me-auto text-dark">{{comment.author.username}} 
                                                    {% if comment.author.is_superuser %}
                                                    <img src="{% static 'images/main-logo.png' %}" style="width: 16px !important; height: 16px !important">
                                                    {% endif %}
                                                    {% if comment.author.is_staff %}
                                                    <img src="{% static 'images/admincheck.png' %}" style="width: 16px !important; height: 16px !important">
                                                    {% endif %}
                                                    </span>
                                                    {% if comment.author == request.user %}
                                                        <button onclick="window.location.href='{% url 'delete_comment' comment.id %}'" class="btn btn-sm btn-danger h-50">
                                                            <i class="bi bi-trash-fill"></i>
                                                        </button>
                                                    {% endif %}

                                                </a>
                                                <span class="font-xssss text-grey-500 pt-2 mt-1 ps-2 fw-600 mb-0 ms-auto">{{comment.writed_at}}</span>
                                                <br><br>
                                                <p class="card-text">
                                                {{comment.content|linebreaksbr}}
                                                </p>
                                            </div>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>
                                    </div>

                                </div>
                            </div>
                            {% if script.is_active %}
                                <div class="dark-bg p-3 mb-3 border-top border-bottom bor-0 theme-dark-bg" style="width: 98%;">
                                    <form class="chat-form d-block overflow-hidden" method="POST">
                                    {% csrf_token %}
                                        
                                        <textarea id="script_comment" name="content" class="form-control mb-5 p-3 h100 bg-greylight lh-16" rows="5" placeholder="Write your message..."></textarea>
                                        
                                        <button type="button" class="bg-dark border-0 btn-round-md ms-1 float-left" onclick="alert('Soon...')">
                                            <i class="ti-image text-white lh-4 font-xs"></i>
                                        </button>

                                        <button class="bg-current border-0 p-0 float-right w200 text-white fw-600 font-xssss text-uppercase" type="submit">Send</button>
                                    </form>
                                </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
                 
            </div>            
        </div>

    {% include '../components/_right-chat.jinja' %}
    {% include '../components/_footer.jinja' %}
</div>
{% include '../components/_chat-popup.jinja' %}
{% endblock %}