@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    font-family: Roboto !important;
    text-decoration: none !important;
}

body {
    background-color: #080b0d !important;
    color: #fafafa !important;
}

.main {
    text-align: center;
    padding-top: 10%;
}

.jumbotron {
    background: none !important;
}

.btn-primary {
    background-color: rgb(112, 34, 34) !important;
    border-color: rgb(112, 34, 34)!important;
    color: #fafafa;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 25px !important;
    margin: 5px;
}

.btn-secondary {
    background-color: #0c1317b9 !important;
    border-color: #0c1317b9 !important;
    color: #fafafa;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 25px !important;
    margin: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-control {
    background-color: #10161a !important;
    border-color: #10161a !important;
    padding: 5px !important;
    color: #fafafa !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #10161a !important;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .card {
    background-color: #080b0d !important;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10%;
    padding: 25px;
}

.network .card {
    background-color: #0d1114 !important;
}

.network .list-group-item {
    background-color: #0d1114;
}

.bg-dark2 {
    background-color: #0d1114 !important;
}

.explore-header {
    padding: 10px;
    font-size: 20px;
    background-color: #0b0e12;
}

@media only screen and (max-width:767px) {
    .explore-header {
        margin-top: 20px !important;
    }
}