{% load static %}
<div class="modal-popup-chat">
    <div class="modal-popup-wrap bg-white p-0 shadow-lg rounded-3">
        <div class="modal-popup-header w-100 border-bottom">
            <div class="card p-3 d-block border-0 d-block">
                <figure class="avatar mb-0 float-left me-2">
                    <img src="{% static 'images/blank-profile.jpg' %}" style="border-radius: 100%;" alt="image"
                        class="w35 me-1">
                </figure>
                <h5 class="fw-700 text-primary font-xssss mt-1 mb-1">George <span class="badge badge-warning">BOT</span>
                </h5>
                <h4 class="text-grey-500 font-xsssss mt-0 mb-0"><span
                        class="d-inline-block bg-success btn-round-xss m-0"></span> Available</h4>
                <a href="#" class="font-xssss position-absolute right-0 top-0 mt-3 me-4"><i
                        class="ti-close text-grey-900 mt-2 d-inline-block"></i></a>
            </div>
        </div>
        <div class="modal-popup-body w-100 p-3 h-auto">
            <div class="message">
                <div class="message-content font-xssss lh-24 fw-500">
                <strong>EN<br></strong>
                Welcome to Retto! Click <a href="/@retto">here</a> to see updates.
                <br><br>
                <strong>TR<br></strong>
                Retto'ya hoşgeldin! Yenilikleri görmek için <a href="/@retto">tıklayın</a>.
                </div>
            </div>
            <div class="date-break font-xsssss lh-24 fw-500 text-grey-500 mt-2 mb-2">Automatic system message</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>