{% load static %}
<div class="app-footer border-0 shadow-lg bg-primary-gradiant">
    <a href="/" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
    <a href="/scenerios/" class="nav-content-bttn"><i class="feather-zap"></i></a>
    <a href="/account/profile/" class="nav-content-bttn" data-tab="chats"><i class="feather-user"></i></a>
    <a href="/groups/" class="nav-content-bttn"><i class="feather-layers"></i></a>
    <a href="/account/settings/" class="nav-content-bttn">
        {% if request.user.avatar %}
        <img src="{{request.user.avatar.url}}" style="border-radius: 100%;" alt="user" class="w30 shadow-xss">
        {% else %}
        <img src="{% static 'images/blank-profile.jpg' %}" style="border-radius: 100%;" alt="user"
            class="w30 shadow-xss">
        {% endif %}
    </a>
</div>