<footer class="bg-body-tertiary footer text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Built with
    <a class="text-body" href="https://djangoproject.com/" target="_blank">Django</a>
    by
    <a class="text-body" href="https://rettomedia.com" target="_blank">Retto Media™</a>
  </div>
  <!-- Copyright -->
</footer>