{% load static %}
<!-- navigation top-->
<div class="nav-header bg-white shadow-xs border-0">
    <div class="nav-top">
        <a href="/">
            <img src="{% static 'images/main-logo.png' %}" width="50" height="50">
            <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Retto </span>
        </a>
        <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i
                class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <a href="#" class="me-2 menu-search-icon mob-menu"><i
                class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <button class="nav-menu me-0 ms-2"></button>
    </div>

    <form class="float-left header-search">
        <div class="form-group mb-0 icon-input">
            <i class="feather-search font-sm text-grey-400"></i>
            <input type="text" placeholder="Start typing to search.." id="search" 
                {% if request.path == "/" %}
                name="search" 
                {% elif request.path == "/account/friend-list/" %} 
                name="search" 
                {% endif %}
                class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
        </div>
    </form>
    <a href="/" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i
            class="feather-home font-lg alert-primary btn-round-lg theme-dark-bg text-grey-500 "></i></a>
    <a href="/scripts/" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i
            class="feather-zap font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

    <a href="#" class="p-2 text-center ms-auto menu-icon" id="dropdownMenu3" data-bs-toggle="dropdown"
        aria-expanded="false"></a>
    {% if request.user.is_authenticated %}
    <a href="#" class="p-2 text-center ms-3 menu-icon chat-active-btn"><i
            class="feather-message-square font-xl text-current"></i></a>

    <a href="/account/settings/" class="p-0 ms-3 menu-icon">
        {% if request.user.avatar %}
        <img style="border-radius: 100%;" src="{{request.user.avatar.url}}" alt="user" class="w40 mt--1">
        {% else %}
        <img src="{% static 'images/blank-profile.jpg' %}" alt="user" class="w40 mt--1" style="border-radius: 100%;">
        {% endif %}
    </a>
    {% endif %}

</div>
<!-- navigation top -->