{% load static %}
<div class="app-header-search">
    <form class="search-form">
        <div class="form-group searchbox mb-0 border-0 p-1">
            <input id="search" type="text" class="form-control border-0" placeholder="Search..." {% if request.path=="/"
                %} name="search" {% elif request.path=="/account/friend-list/" %} name="search" {% endif %}>
            <i class="input-icon">
                <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
            </i>
            <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                <i class="ti-close font-xs"></i>
            </a>
        </div>
    </form>
</div>