{% extends 'base.jinja' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}My Tickets{% endblock %}

{% block styles %}
<style>
    .form-control#id_bio {
        min-height: 200px !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="preloader"></div>

<div class="main-wrapper">
    {% include '../components/_nav.jinja' %}
    {% include '../components/_left.jinja' %}

    <div class="main-content right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0">
                    <div class="row">
                           
                        <div class="col-xl-12">
                            <div class="chat-wrapper p-3 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                                <h2 class="fw-700 mb-4 mt-2 font-md text-grey-900 d-flex align-items-center">My Tickets</h2>
                                </h2>
                                <ul class="notification-box">
                                    {% for ticket in tickets %}
                                    <li>
                                        <div class="d-flex align-items-center p-3 rounded-3">
                                            <span class="btn-round-md me-3 bg-warning font-xs fw-700 text-white"></span>
                                            <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>{{ticket.author.username}}</strong> writed a <strong>ticket</strong> : 
                                            {{ticket.title}}
                                             <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto">Writed at {{ticket.edited_at}}</span> </h6>
                                            <a href="/tickets/delete-ticket/{{ticket.slug}}"><i class="bi bi-trash-fill text-grey-500 font-xs ms-auto"></i></a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>                                 
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>            
        </div>


    {% include '../components/_right-chat.jinja' %}
    {% include '../components/_footer.jinja' %}
</div>
{% include '../components/_chat-popup.jinja' %}
{% endblock %}